<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<title>Appointments</title>
	<!-- for-mobile-apps -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Business Appointment Form Widget Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script type="application/x-javascript">
		addEventListener("load", function() {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //for-mobile-apps -->
	<!-- //custom-theme -->
	<link href="{% static "master-appointments/css/style.css" %}" rel="stylesheet" type="text/css" media="all" />
	<link href="{% static "alertify/css/alertify.css" %}" rel="stylesheet" type="text/css" media="all" />
	<link href="{% static "alertify/css/themes/default.css" %}" rel="stylesheet" type="text/css" media="all" />
	<!-- js -->
	<script type="text/javascript" src="{% static "master-appointments/js/jquery-2.1.4.min.js" %}"></script>
	<script type="text/javascript" src="{% static "alertify/js/alertify.js" %}"></script>
	<script type="text/javascript">
		window.onload = function()
		{
	 		document.getElementById('send').onclick = function(e)
			{
				alert('Your Time Saved!');
	 		}
	}
	</script>
	<!-- //js -->
	<!-- font-awesome-icons -->
	<!-- //font-awesome-icons -->
	<link href='//fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
</head>

<body>
	{# <script src="{% static "js/jquery.vide.min.js" %}"></script>#}
	<!-- banner -->

	<div class="center-container">
		<div class="main">
			<h1 class="w3layouts_head">Appointment Form</h1>
			<div class="w3layouts_main_grid">
				<form name="reg" action="/appointment/set_time/" method="post" class="w3_form_post">
					{% csrf_token %}
					<div class="agileits_w3layouts_main_grid w3ls_main_grid">
						<span class="agileinfo_grid">
									<label>Date / Time <i>:</i></label>
									<div class="agileits_w3layouts_main_gridl">
										<input class="date" id="datepicker" name="Text" type="text" value="mm/dd/yyyy" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}" required="">
									</div>
									<div class="clear"> </div>
								</span>
					</div>
					<div class="w3_agileits_main_grid w3l_main_grid">
						<span class="agileits_grid">
									<label>Start Time <i>:</i></label>
									<div class="agileits_w3layouts_main_gridr">
										<input type="time" name="Time1" placeholder=" " required="">
									</div>
								</span>
					</div>
					<div class="clear"> </div>
					<div class="w3_agileits_main_grid w3l_main_grid">
						<span class="agileits_grid">
									<label>End Time <i>:</i></label>
									<div class="agileits_w3layouts_main_gridr">
										<input type="time" name="Time2" placeholder=" " required="">
									</div>
								</span>
					</div>
					<div class="clear"> </div>
					<input type="text" name="instructor" value="{{ instructor }}" hidden  />
					<div class="w3_main_grid">
						<div class="w3_main_grid_right">
							<input id="send" type="submit" value="Submit">
						</div>
					</div>
				</form>
				<div class="w3layouts_copy_right">
					<div class="container">
						<p>See Reservation Requests: <a href="/appointment/reservation/">Click Here!</a></p>
					</div>
				</div>
			<!-- Calendar -->
			<link rel="stylesheet" href="{% static "master-appointments/css/jquery-ui.css" %}" />
			<script src="{% static "master-appointments/js/jquery-ui.js" %}"></script>
			<script>
				$(function() {
					$("#datepicker").datepicker();
				});
			</script>
			<!-- //Calendar -->
			{# <div class="w3layouts_copy_right"> #}
				{# <div class="container"> #}
					{# <p>© 2017 Business Appointment Form. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts.</a></p> #}
				{# </div> #}
			{# </div> #}
		</div>
	</div>

	<!-- //footer -->
</body>

</html>
