
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Home Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static "home-page/css/style.css" %}"
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#myPage"><img src="{% static "home-page/img/logo.png" %}" /></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#myPage">HOME</a></li>
        <li><a href="#band">TEAM</a></li>
        {# <li><a href="#tour">TOUR</a></li>#}
        <li><a href="#contact">CONTACT</a></li>
        <li>
          <a href="/appointment/login/">LOGIN</a>
        </li>
        {# <li class="dropdown">#}
          {# <a class="dropdown-toggle" data-toggle="dropdown" href="#">MORE#}
          {# <span class="caret"></span></a>#}
          {# <ul class="dropdown-menu">#}
            {# <li><a href="#">Merchandise</a></li>#}
            {# <li><a href="#">Extras</a></li>#}
            {# <li><a href="#">Media</a></li>#}
          {# </ul>#}
        {# </li>#}
        {# <li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>#}
      </ul>
    </div>
  </div>
</nav>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img src="{% static "home-page/img/IUT.jpg" %}" alt="IUT" width="1200">
        <div class="carousel-caption">
          <h3>IUT</h3>
          <p>The Isfahan University of Technology</p>
        </div>
      </div>

      <div class="item">
        <img src="{% static "home-page/img/shutterstock_96451256.jpg" %}" alt="Chicago" width="1200">
        <div class="carousel-caption">
          <h3>Appointment</h3>
          <p>Easy Set Appointment with Your Instructor</p>
        </div>
      </div>

      <div class="item">
        <img src="{% static "home-page/img/Software-Engineering-Wallpaper.jpg" %}" alt="Los Angeles" width="1200">
        <div class="carousel-caption">
          <h3>SE</h3>
          <p>Software Engineering</p>
        </div>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>

<!-- Container (The Band Section) -->
<div id="band" class="container text-center">
  <h3>THE TEAM</h3>
  <p><em>We love music!</em></p>
  <p>We have created a fictional band website. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <p class="text-center"><strong>Ali Nourmohammadi</strong></p><br>
      <a href="#demo" data-toggle="collapse">
        <img src="{% static "home-page/img/ali.jpg" %}" class="img-circle person" alt="Random Name" width="255" height="255">
      </a>
      <div id="demo" class="collapse">
        <p>Back-End Developer</p>
        <p>IT Engineering Student</p>
        <p>1392 Entrance</p>
      </div>
    </div>
    <div class="col-sm-4">
      <p class="text-center"><strong>Mahdi Ziaei</strong></p><br>
      <a href="#demo2" data-toggle="collapse">
        <img src="{% static "home-page/img/zia.jpg" %}" class="img-circle person" alt="Random Name" width="255" height="255">
      </a>
      <div id="demo2" class="collapse">
        <p>Front-End Developer</p>
        <p>Software Engineering Student</p>
        <p>1392 Entrance</p>
      </div>
    </div>
    <div class="col-sm-4">
      <p class="text-center"><strong>Parsa Parva</strong></p><br>
      <a href="#demo3" data-toggle="collapse">
        <img src="{% static "home-page/img/parsa.jpg" %}" class="img-circle person" alt="Random Name" width="255" height="255">
      </a>
      <div id="demo3" class="collapse">
        <p>Data Base Designer</p>
        <p>IT Engineering Student</p>
        <p>1393 Entrance</p>
      </div>
    </div>
  </div>
</div>


<!-- Container (Contact Section) -->
<div id="contact" class="container">
  <h3 class="text-center">Contact</h3>
  <p class="text-center"><em>Leave us a message</em></p>

  <div class="row">
    <div class="col-md-4">
      <p>Drop a note.</p>
      <p><span class="glyphicon glyphicon-map-marker"></span> IUT, Isfahan</p>
      {# <p><span class="glyphicon glyphicon-phone"></span>Phone: +00 1515151515</p>#}
      <p><span class="glyphicon glyphicon-envelope"></span> Email: ali.n9014@yahoo.com</p>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea>
      <br>
      <div class="row">
        <div class="col-md-12 form-group">
          <button class="btn pull-right" type="submit">Send</button>
        </div>
      </div>
    </div>
  </div>
  <br>
  <h3 class="text-center">About Us</h3>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Ali</a></li>
    <li><a data-toggle="tab" href="#menu1">Mahdi</a></li>
    <li><a data-toggle="tab" href="#menu2">Parsa</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <h2>Ali Nourmohammadi, Developer</h2>
      <p>I am a programmer that my interest is on network and website back-end design</p>
    </div>
    <div id="menu1" class="tab-pane fade">
      <h2>Mahdi Ziaei, Developer</h2>
      <p>I am a programmer that my interest is on website front-end design</p>
    </div>
    <div id="menu2" class="tab-pane fade">
      <h2>Parsa Parva, Designer</h2>
      <p>I am a programmer that my interest is on database design</p>
    </div>
  </div>
</div>

<!-- Add Google Maps -->
<div id="googleMap"></div>
<script>
function myMap() {
var myCenter = new google.maps.LatLng(32.719078, 51.531964);
var mapProp = {center:myCenter, zoom:12, scrollwheel:false, draggable:false, mapTypeId:google.maps.MapTypeId.ROADMAP};
var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
var marker = new google.maps.Marker({position:myCenter});
marker.setMap(map);
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpiYQu0ZgVCArpTg-vttZoi14ojPdOGNk&callback=myMap"></script>
<!--
To use this code on your website, get a free API key from Google.
Read more at: https://www.w3schools.com/graphics/google_maps_basic.asp
-->

<!-- Footer -->
<footer class="text-center">
  <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a><br><br>
  {# <p>Bootstrap Theme Made By <a href="https://www.w3schools.com" data-toggle="tooltip" title="Visit w3schools">www.w3schools.com</a></p>#}
</footer>

<script>
$(document).ready(function(){
  // Initialize Tooltip
  $('[data-toggle="tooltip"]').tooltip();

  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {

    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {

      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){

        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
})
</script>

</body>
</html>
