<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

{% load static %}

<!doctype html>
<html>
<head>
<title>Availables</title>
<!-- for-mobile-apps -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Data Pricing Tables Responsive, Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<!-- //for-mobile-apps -->
<link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{% static "student-appointments/css/jquery.flipster.css" %}">
<link href="{% static "student-appointments/css/style.css" %}" rel="stylesheet" type="text/css" media="all" />
<script src="{% static "student-appointments/js/jquery-2.1.4.min.js" %}"></script>
</head>
<body>
<div class="content" id="Main-Content">
	<h1>Available Appointments</h1>
<!-- Flipster List -->
		<div class="flipster">
		  <ul>
				{% for room in rooms%}
				{% if room.active %}
		  	<li>
		  		<div class="pricing">
					<div class="pricing-top blue-top">
						<h3>Dr. {{ room.instructor_number.instructor.last_name }}</h3>
						{# <p>{{ room.end_time | add:-5 }} minutes</p>#}
					</div>
					<div class="pricing-bottom">
						<div class="pricing-bottom-top">
							<p>Room number: {{ room.instructor_number.room_number }}</p>
							<p>Start from: {{ room.start_time }}</p>
							<p>To: {{ room.end_time }}</p>
						</div>
						<div class="pricing-bottom-bottom">
							<p><span>Email: </span>{{ room.instructor_number.instructor.email }}</p>
							<p><span>Name: </span>{{ room.instructor_number.instructor.first_name }}</p>
							<p><span>Family: </span>{{ room.instructor_number.instructor.last_name }}</p>
							{# <p><span>25</span> Domains</p>#}
							{# <p class="text"><span>24/7</span> Unlimited Support</p>#}
						</div>
						<div class="buy-button">
							<form action='/appointment/submit/' method="post">
								{% csrf_token %}
								{# <a href="/appointment/submit/">Submit</a>#}
								<input type="text" name="id" value="{{ room.id }}" hidden />
								<input type="text" name="student" value="{{ student }}" hidden  />
								<div align="center">
									Subject:
								<textarea name="subject" required style="margin-bottom: 30px;" rows="5"></textarea>
							</div>
								<input type="submit" value="Submit"/>
							</form>

						</div>
					</div>
				</div>
		  	</li>
				{% endif %}
				{% endfor %}

		  </ul>
		</div>
		{# <div class="copyright"> #}
			{# <p class="footer">&copy; 2016 Date Pricing Tables. All Rights Reserved | Design by <a href="http://w3layouts.com/"> W3layouts</a></p> #}
		{# </div> #}
<!-- End Flipster List -->
</div>
<script src="{% static "student-appointments/js/jquery.flipster.js" %}"></script>
<script>
<!--

	$(function(){ $(".flipster").flipster({ style: 'carousel', start: 0 }); });

-->
</script>

</body>
</html>
