

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <link href="{% static "reserved-table/css/style.css" %}" rel="stylesheet" type="text/css" media="all" />
  <script type="text/javascript" src="{% static "reserved-table/js/ui.js" %}"></script>
</head>
<body>
  <section>
  <!--for demo wrap-->
  <div class="buy-button" align="right">
    <form action='/appointment/master_logout/' method="post">
      {% csrf_token %}
      <input hidden name="data" type="text" value="{{ data }}" />
      <input hidden name="id" type="text" value="{{ data.id }}" />
      <input type="submit" value="Logout"/>
    </form>
  </div>
  <h1>Requested Appointments</h1>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>Student Number</th>
          <th>Start From</th>
          <th>To</th>
          <th>Date</th>
          <th>Subject</th>
          <th>Time(mins)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Approve</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        {% for data in list %}
        {% if data.reserved %}
        <tr>
          <td>{{ data }}</td>
          <td>{{ data.start_time }}</td>
          <td>{{ data.end_time }}</td>
          <td>{{ data.start_date }}</td>
          <td>{{ data.subject }}</td>
          <td>
            <div class="buy-button">
							<form action='/appointment/reservations/' method="post" style="display: block; width: 100%;">
								{% csrf_token %}
                <input hidden name="data" type="text" value="{{ data }}" />
                <input hidden name="id" type="text" value="{{ data.id }}" />
                <input name="time" required min="1" max="60" type="number" style="text-align: center; border: 1px; display: inline-block; width: 30%;  opacity: 0.5; background: #293333; height: 28px; margin-right: 10px; -webkit-border-radius: 5px;" />
  							<input type="submit" value="Approve" style="display: inline-block; width: 60%;"/>
							</form>
						</div>
          </td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>


<!-- follow me template -->

</body>
</html>
