<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% load static %}
<!DOCTYPE HTML>
<html>

<head>
  <title>Filter</title>
  <!-- Meta tags -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="Justify Consultation Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
  <script type="application/x-javascript">
    addEventListener("load", function() {
      setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
      window.scrollTo(0, 1);
    }
  </script>
  {% if error %}
  <script type="application/javascript">
    alert('U can not reserve this day');
  </script>
  {% endif %}
  <!-- //Meta tags -->
  <!-- font-awesome-icons -->
  <link href="{% static "login/css/font-awesome.css" %}" rel="stylesheet">
  <!-- //font-awesome-icons -->
  <!-- Stylesheet -->
  <link href="{% static "login/css/style.css" %}" rel='stylesheet' type='text/css' />
  <!-- //Stylesheet -->
  <!--fonts-->
  <link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
  <!--//fonts-->
</head>

<body>
  <!--background-->
  <h1> <span>S</span>elect <span>F</span>orm</h1>
  <div class="bg-agile">
    <div class="book-appointment">
      <h2>Please Choose</h2>
      <div class="book-form agileits-login">
        <form action="/appointment/appointments/" method="post">
          <input type="text" name="student" hidden value="{{ student }}" />
          {% csrf_token %}
          <div class="agileits_reservation_grid">
            <div class="clear"></div>
            <div class="span1_of_1">
              <label>Date : </label>
              <div class="book_date">
                <i class="fa fa-calendar" aria-hidden="true"></i>
                <input id="datepicker" name="Text" type="text" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'mm/dd/yyyy';}" required="">

              </div>
            </div>
            <div class="span1_of_1">
              <!-- start_section_room -->
              <label>Instructor : </label>
              <div class="section_room">
                <i class="fa fa-gavel" aria-hidden="true"></i>
                <select name="Select" id="country" onchange="change_country(this.value)" class="frm-field required">
                  <option value=""></option>
                    {% for master in master %}
												<option value="{{ master.instructor.id }}">{{ master.instructor.first_name }} {{ master.instructor.last_name }}</option>
                        {% endfor %}
											</select>
              </div>
            </div>
          </div>
          <div class="wthree-text">

            <h6>Days available for appointment</h6>
            <ul>
              {%for day in days %}
              <li>
                <label class="anim">

                                    <span>{{ day }}</span>
                                  </label>
              </li>
                {% endfor %}
            </ul>
            <div class="clear"> </div>
          </div>
          <div class="clear"> </div>
          <input type="submit" value="Get Appointment">
        </form>
      </div>

    </div>
  </div>
  <!--copyright-->
  {# <div class="copy w3ls"> #}
    {# <p>&copy; 2017. Justify Consultation Form . All Rights Reserved | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p> #}
  {# </div> #}
  <!--//copyright-->
  <script type="text/javascript" src="{% static "login/js/jquery-2.1.4.min.js" %}"></script>
  <!-- Calendar -->
  <link rel="stylesheet" href="{% static "login/css/jquery-ui.css" %}" />
  <script src="{% static "login/js/jquery-ui.js" %}"></script>
  <script>
    $(function() {
      $("#datepicker,#datepicker1,#datepicker2,#datepicker3").datepicker();
    });
  </script>
  <!-- //Calendar -->

</body>

</html>
