<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% load static %}
<!DOCTYPE HTML>
<html>

<head>
  {# <title>Login</title> #}
  {# <!-- Meta tags --> #}
  {# <meta name="viewport" content="width=device-width, initial-scale=1"> #}
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="Justify Consultation Form Responsive Widget,Login form widgets, Sign up Web forms , Login signup Responsive web form,Flat Pricing table,Flat Drop downs,Registration Forms,News letter Forms,Elements" />
  <script type="application/x-javascript">
    addEventListener("load", function() {
      setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
      window.scrollTo(0, 1);
    }
  </script>
  <!-- //Meta tags -->
  <!-- font-awesome-icons -->
  <link href="{% static "login/css/font-awesome.css" %}" rel="stylesheet">
  <!-- //font-awesome-icons -->
  <!-- Stylesheet -->
  <link href="{% static "login/css/style.css" %}" rel='stylesheet' type='text/css' />
  <!-- //Stylesheet -->
  <!--fonts-->
  <link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
  <!--//fonts-->
</head>

<body>
  <!--background-->
  <h1> <span>A</span>ppointment <span>L</span>ogin <span>F</span>orm</h1>
  <div class="bg-agile">
    <div class="book-appointment">
      <h2>Make Your Appointment Here</h2>
      <div class="book-form agileits-login">
        <form action="/appointment/login/" method="post">
          {% csrf_token %}
          <div class="agileits_reservation_grid">
            <div class="phone_email">
              <label>User name : </label>
              <div class="form-text">
                <i class="fa fa-user" aria-hidden="true"></i>
                <input autofocus type="text" name="Username" placeholder="" required="">
              </div>
            </div>
            <div class="phone_email phone_email1">
              <label>Password : </label>
              <div class="form-text">
                <i class="fa fa-key" aria-hidden="true"></i>
                <input type="password" name="Password" placeholder="" required="">
              </div>
            </div>


          </div>
          <div class="wthree-text">
            {% if error %}
            <h6>User Name or Password is Incorrect</h6>
            {% endif %}
            <div class="clear"> </div>
          </div>
          <div class="clear"> </div>
          <input type="submit" value="Login">
        </form>
      </div>

    </div>
  </div>
  <!--copyright-->
  {# <div class="copy w3ls"> #}
    {# <p>&copy; 2017. Justify Consultation Form . All Rights Reserved | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p> #}
  {# </div> #}
  <!--//copyright-->
  <!-- //Calendar -->
<script type="text/javascript" src="{% static "login/js/jquery-2.1.4.min.js" %}"></script>
		<!-- Calendar -->
				<link rel="stylesheet" href="{% static "login/css/jquery-ui.css" %}" />
				<script src="js/jquery-ui.js"></script>
				  <script>
						  $(function() {
							$( "#datepicker,#datepicker1,#datepicker2,#datepicker3" ).datepicker();
						  });
				  </script>

</body>

</html>
